
body {
  background: radial-gradient(red, blue,orange)
  /* background-image: url(IMG/hintergrund-.jpg); */
}


#container {
  display: flex;
  justify-content: center;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    justify-items: center;
  }
  
  .celda {
    width: 3%;
    padding-bottom: 3%;
    background-color: white;
    border: 1px solid black;
  }
  
  .nuevaCuadricula {
    margin-top: 20px;
  }
 
  button {
    margin-top: 1%;
    margin-left: 15%;
    font-size: 35px;
    color: yellow;
    background-color: blue;
    border: solid yellow;
  }
  
  button:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: blue;
    background-color: yellow;
    border:solid blue ; 
  }